figure.b_center {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;

  /*margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 310px;
    width: 100%;*/
  /*background:rgb(156, 156, 156);*/ /* 날씨아이콘 배경색 */
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  background-image: url(1.png);
  background-position: 50% 50%;

  padding-left: 50%;
  padding-right: 50%;
  background-repeat: no-repeat;
  transition: 0.5s;
}
figure.b_center:hover {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
}
figure.b_center * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.b_center img {
  position: relative;
  opacity: 0.9;
}
figure.b_center figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 1px 1px 0;
}
figure.b_center .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.b_center h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.b_center h2 span {
  font-weight: 800;
}
figure.b_center h2:before,
figure.b_center h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: "";
  background: white;
  top: 50%;
}
figure.b_center h2:before {
  left: -1000%;
}
figure.b_center h2:after {
  right: -1000%;
}
figure.b_center p,
figure.b_center div.b_left {
  /* p태그가 숨겨졌다가 나타나는 부분 */
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
/*figure.b_center a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }*/
figure.b_center:hover img {
  /* 날씨아이콘 크기조절 */
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.3);
}
figure.b_center:hover figcaption {
  /* 날씨아이콘 hover */
  top: 7%;
  bottom: 7%;
}
figure.b_center:hover p {
  /* 날씨아이콘 hover시 p태그확인 */
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
